<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nombre del Proyecto</title>
    <script type="text/javascript" th:src="@{/js/script1.js}"></script>

</head>
<body>
    <!-- Aquí va el contenido de la página -->
    <header>
        <h1>Nombre del Proyecto</h1>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Equipo</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <section id="equipo">
        <h2>Equipo</h2>
        <select id="select-member" >
            <option value="0">Selecciona un miembro</option>
            <option value="1">Daniel Castellanos</option>
            <option value="2">Julian</option>
            <option value="3">Martin Medina</option>
        
        </select>
        <div id="member-info">
            <!-- Aquí se mostrará la información del miembro seleccionado -->
        </div>
    </section>
    <h1>DIAGRAMA</h1>
    <!-- Resto del contenido -->
    <h1>CASOS DE USO</h1>

    <footer>
        <p>&copy; 2024 Nombre del Proyecto</p>
    </footer>

   
</body>
</html>
